@import "src/theme/variables";
@import "src/theme/exports/other-signup";

/*start-main-coding*/
.singup-area {
  display: block;
  //background-color: #fff;
  height: auto;
  width: 85%;
  margin: auto auto 30vh;
  padding-top: 50px;
}

.singup-title {
  display: block;
  margin-bottom: 50px;
}

.singup-title-left {
  float: left;
  width: 60%;
  display: block;
}

.singup-title-left h2 {
  color: #6b6b6b;
  font-weight: 600;
  font-family: $font-en-primary;
  display: block;
  font-size: 24px;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.singup-title-right {
  float: right;
  width: 40%;
  display: block;
  text-align: right;
}

.singup-title-right h3 {
  color: #5b5b5b;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-en-primary;
  display: block;
}

.singup-title-right h3 a {
  color: #06b487;
  font-style: normal;
  font-family: $font-en-primary;
  font-size: 16px;
}

/*singup-form*/
.singup-form {
  display: block;
  margin: auto;
  width: 100%;
  background: #FFFFFF;
  padding: 45px 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  //label i {
  //  margin-right: 8px;
  //  color: #00bd4a;
  //}
}

.singup-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.form-details-left {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;

}


.form-details-right {
  width: 70%;
  margin: 0 auto;
}

/*fullName-area*/
.full-name {
  display: block;
  margin-bottom: 20px;
}

/*check-box-area*/

.check-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.check {
  margin-right: 8px;
}

.check-rules label {
  display: block;
  font-size: 14px;
  color: #707171;
  font-style: normal;
  font-weight: 400;
  font-family: $font-en-primary;
  margin-bottom: 8px;
  line-height: 19px;
}

.submit-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.submit-btn button {
  text-transform: uppercase;
  display: block;
  outline: none;
  border: 1px solid $color-primary;
  color: #fff;
  background-color: $color-primary-2;
  font-family: $font-en-primary;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 12px 8px;
  font-size: 16px;
  //border-radius: 5px;
  font-weight: 400;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s all linear;

  &:disabled {
    border: 1px solid #dddddd;
    background: #dddddd;
    color: #717171;

    &:hover {
      background: #dddddd;
    }

  }

  &:hover {
    background: $color-primary;
  }
}

/*privacy*/
.privacy {
  display: block;
  margin-bottom: 25px;
}

.privacy p {
  display: block;
  font-size: 14px;
  color: #707171;
  font-style: normal;
  font-weight: 400;
  font-family: $font-en-primary;
  margin-bottom: 8px;
}

.privacy p a {

  font-size: 14px;
  color: #06b487;
  font-style: normal;
  font-weight: 400;
  font-family: $font-en-primary;
  margin-bottom: 8px;
  line-height: 16px;
}




@media(max-width: 991px) {
  .singup-form {
    width: 100%;
  }
  .singup-area {
    width: 95%;
  }
}

@media(max-width: 840px) {
  .singup-form form {
    width: 100%;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 0 30px;
  }
  .form-details-right {
    width: 100%;
  }
}

@media(max-width: 840px) {
  .singup-form form {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 30px;
    margin: auto;
  }
  .singup-area {
    margin-bottom: 20vh;
  }
}

@media(max-width: 500px) {
  .singup-form form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 30px;
    margin: auto;
  }
  .singup-title {
    margin-bottom: 5vh;
  }
  .singup-title-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .singup-title-right {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .singup-area {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .otp-btn button {
    width: 120px;
  }
  .container {
    width: 93%;
    margin: auto;
  }
  .otp {
    display: block;
    position: relative;
    padding-bottom: 50px;
  }
  .otp-btn {
    width: 100%;
    order: 0;
    position: absolute;
    bottom: 0;
  }
  .otp-btn button {
    width: 100%;
  }
}


/*footer-area*/

@media(max-width: 991px) {
  .footer-details {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 50px;
  }
}

@media(max-width: 726px) {
  .footer-details {
    grid-template-columns: 1.5fr;
    grid-row-gap: 20px;
  }
}

@media(max-width: 991px) {
  .footer-bottom-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 50px;
  }
}

@media(max-width: 756px) {
  .footer-bottom-section {
    grid-template-columns:1fr;
  }
  .email {
    order: 1;
    padding: 20px 20px;
    max-width: 500px;
  }
  .we-accept {
    order: 0;
    margin-bottom: 30px;
  }
  .email-img {
    display: none;
  }
}
