// Home Product List
.shop-product-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px 20px;
    grid-template-rows: auto;
    margin-top: 40px;
    padding: 0px 10px;
  }

  @import "src/theme/variables";

  .container-fluid {
    width: 96%;
    max-width: $theme-container-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    padding: 16px 0 16px 0;
  }
  @media(min-width:960px) and (max-width:1440px){
    .container-fluid{
      width: 88%!important;
    }
  }

  .main-content {
    flex: 1;
    min-height: 70vh;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
  @media(min-width:1468px){
    .product-container{
      grid-template-columns: repeat(5, 1fr)!important;
    }
  }


  .pagination-container {
    margin-top: 12px;
    text-align: center;
  }


  @media (max-width: 1279px) {
    .product-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px;
    }
  }


  @media(max-width: 900px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
    }
  }

  @media(max-width: 760px) {

    @media(max-width: 600px) {
      .product-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 8px;
      }
    }
    .product-container {
      margin: 25px 12px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px;
    }
  }


  @media(max-width: 600px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px 8px;
    }
  }


  @media(max-width: 400px) {
    .container-fluid{
      width: 100%;
    }
  }
